.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: 40px 75px;
}

.navLink {
    color: #FF6060;
}

.navLink:first-child {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 35px;
}

@media all and (max-width: 500px) {
    .header {
        margin: 20px 25px;
    }
    
    .header img {
        width: 35%;
    }
}