.homeGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 40px 70px 70px 70px;
    padding: 20px 50px;
    gap: 5%;
}

.cartItem {
    width: 300px;
    border-radius: 10px;
}

.cartItem img {
    background-size: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 900px) {
    .homeGallery {
        justify-content: space-between;
        gap: 20px;
    }
}

@media screen and (max-width: 650px) {
    .homeGallery {
        flex-direction: column;
        padding: 0;
        background: transparent;
    }
}